*{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
font-size: larger;
}
h1{
    text-align: center;
    text-transform: capitalize;
    t

}
#outer{
    font-size: 245px;
    color: radialGradient;
    colgroup
}